@model CurrencyConverter.Models.CurrencyRates



<h2>@ViewData["Title"]</h2>
<h1>Welcome to Currency Converter</h1>
<div class="center-container">
    <a href="/Currency">Go to Currency Converter</a>
</div>


